#cv-img{
   border: 2px;
   width: 200px;
}

#body-login{
   background-color: #060636 ;
   color:azure;
   text-align: center;
   
}

input{
   text-align: center;
   display: inline-block;
   float: center;
}

label{
   display: inline-block;
   float: center;
   text-align: center;
   clear: left;
   width: 150px; 
   text-align: right;
}

#page-title{
   background-image: url(./diagonal-motion-lines-white-background_1017-33198.webp);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

#video-home{
  width: 620px;
  height: 540px;
}





